<a href="https://colab.research.google.com/github/ysg1202/github_my/blob/main/0625_python_define_%26_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**클래스 만들기**

In [12]:
class MyClass:
  x = 5
  y = 10
  z = 1
  i = 6

**객체 생성**

In [15]:
p1 = MyClass()
print(p1.x, p1.z)
print(MyClass.x)

5 1
5

**함수가 없는 객체의 문자열 표현**

In [18]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

**__str__() 사용한 객체의 문자열 표현**

In [20]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)
print(p1)

John(36)

**함수를 사용한 객체의 문자열 표현**

In [10]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

**self 대신 다른 이름 사용**

In [21]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

**개체 속성, 개체 삭제**

In [24]:
p1.age = 40
del p1.age
del p1

**class 내용 없을 경우 pass**

In [25]:
class Person:
  pass

**속성이 여러개인 클래스**

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("John", "Doe")
x.printname()