<a href="https://colab.research.google.com/github/ysg1202/github_my/blob/main/0626_python_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**리스트 생성**

In [1]:
mylist = ["apple", "banana", "cherry"]

**리스트 출력**

In [2]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

**리스트는 중복 값 허용**

In [3]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

**리스트의 항목 개수 출력**

In [4]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

**리스트 데이터 유형**

In [5]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
list4 = ["abc", 34, True, 40, "male"]

**리스트 타입**

In [66]:
mylist = ["apple", "banana", "cherry", 100, True]
print(type(mylist))

<class 'list'>

**list() 생성자**

In [9]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

**리스트 인덱스**

In [10]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

**음수 인덱싱**

In [67]:
thislist = ["apple", "banana", "cherry", True]
print(thislist[-1])

True

**인덱스 범위**

In [68]:
thislist = ["apple", "banana", "cherry", 10, "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1])

['cherry', 10, 'orange']
['apple', 'banana', 'cherry', 10]
['cherry', 10, 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']

**리스트 항목의 조건문**

In [14]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

**항목 값 변경**

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**항목 값 범위 변경**

In [16]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

**두 번째 값을 두 개의 새 값 으로 바꿔서 변경**

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

**두 번째와 세 번째 값을 하나의 값 으로 바꿔서 변경**

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

**지정된 인덱스에 항목 삽입**

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

**마지막 인덱스에 항목 추가**

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

**tropical의 요소를 추가**

In [21]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

**튜플의 요소를 리스트에 추가**

In [22]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

**지정된 항목 제거**

In [23]:
thislist = ["apple", "banana", "cherry", False, 100]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

**항목이 두 개 이상 있는 경우 이 remove()는 첫 번째 항목을 제거**

In [24]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

**지정된 인덱스 제거**

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

**인덱스를 지정하지 않으면 이 pop()은 마지막 항목을 제거**

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

**지정된 인덱스 제거**

In [27]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

**전체 목록을 삭제**

In [28]:
thislist = ["apple", "banana", "cherry"]
del thislist

**리스트의 항목들만 제거**

In [29]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

**항목 반복 for**

In [30]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

**인덱스 번호 반복**

In [31]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

**항목 반복 while**

In [32]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

**반복문 간결한 코드**

In [33]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

**'a'글자가 있는 과일만 있는 리스트를 새로 생성**

In [34]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

**5보다 작은 숫자만 허용**

In [36]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

**새 목록의 값을 대문자로 설정**

In [38]:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

**1. 경로상의 모든 목표점 출력**

In [39]:
waypoints = [
    [127.123, 37.456], [127.126, 37.456],
    [127.130, 37.463], [127.134, 37.462],
    [127.139, 37.468], [127.143, 37.474],
    [127.145, 37.478]
]

In [55]:
i = 1 # 출력시 번호 순서를 매기기 위해 1로 초기화
for point in waypoints:
    print(f"Waypoint {i}: 경도={point[0]}, 위도={point[1]}")
    i += 1

Waypoint 1: 경도=127.123, 위도=37.456
Waypoint 2: 경도=127.126, 위도=37.456
Waypoint 3: 경도=127.13, 위도=37.463
Waypoint 4: 경도=127.134, 위도=37.462
Waypoint 5: 경도=127.139, 위도=37.468
Waypoint 6: 경도=127.143, 위도=37.474
Waypoint 7: 경도=127.145, 위도=37.478

**2. 주행 중 신호등 상태 기록**

In [40]:
traffic_light_log = ["GREEN", "GREEN", "YELLOW", "RED", "GREEN"]

In [50]:
i = 1
for state in traffic_light_log:
    print(f"{i}번째 신호등 상태: {state}")
    i += 1

1번째 신호등 상태: GREEN
2번째 신호등 상태: GREEN
3번째 신호등 상태: YELLOW
4번째 신호등 상태: RED
5번째 신호등 상태: GREEN

**3. 라이다 포인트클라우드 데이터**

In [41]:
lidar_points = [
    [12.3, -4.5, 1.2, 0.85],
    [11.0, -3.8, 1.3, 0.72],
    [10.1, -4.0, 1.4, 0.80],
    [9.5, -3.5, 1.5, 0.60],
    [8.7, -4.1, 1.1, 0.95]
]

In [57]:
i = 1
for point in lidar_points:
    x = point[0]
    y = point[1]
    z = point[2]
    intensity = point[3]
    print(f"{i}번 포인트: x={x}, y={y}, z={z}, 반사강도={intensity}")
    i += 1

1번 포인트: x=12.3, y=-4.5, z=1.2, 반사강도=0.85
2번 포인트: x=11.0, y=-3.8, z=1.3, 반사강도=0.72
3번 포인트: x=10.1, y=-4.0, z=1.4, 반사강도=0.8
4번 포인트: x=9.5, y=-3.5, z=1.5, 반사강도=0.6
5번 포인트: x=8.7, y=-4.1, z=1.1, 반사강도=0.95

**4. 앞차와의 거리 리스트에서 충돌 여부 판단**

In [42]:
front_distances = [6.0, 4.2, 5.5, 3.0, 2.5]

In [61]:
safety_distance = 5.0 # 안전거리 임계값
i = 1
for distance in front_distances:
    if distance < safety_distance:
        print(f"{i}번 거리: {distance}m → ⚠️ 충돌 위험")
    else:
        print(f"{i}번 거리: {distance}m → ✅ 안전")
    i += 1

1번 거리: 6.0m → ✅ 안전
2번 거리: 4.2m → ⚠️ 충돌 위험
3번 거리: 5.5m → ✅ 안전
4번 거리: 3.0m → ⚠️ 충돌 위험
5번 거리: 2.5m → ⚠️ 충돌 위험

**5. 주변 차량과의 거리**

In [43]:
# [차량 ID, x좌표, y좌표, 현재 속도]
nearby_vehicles = [
    [101, 10.2, 5.5, 32.0],       # 차량 3대로 가정
    [102, 14.5, 7.1, 28.0],
    [103, 8.8, 4.9, 30.5]
]

In [65]:
ego_position = [10.0, 5.0]  # 차량 현위치

for vehicle in nearby_vehicles:
    vehicle_id = vehicle[0]
    x = vehicle[1]
    y = vehicle[2]
    current_speed = vehicle[3]
    distance = ((x - ego_position[0])**2 + (y - ego_position[1])**2)**0.5 # 유클리드 거리 계산
    print(f"차량 {vehicle_id}: 거리 = {distance:.2f}m, 속도 = {current_speed}km/h")

차량 101: 거리 = 0.54m, 속도 = 32.0km/h
차량 102: 거리 = 4.97m, 속도 = 28.0km/h
차량 103: 거리 = 1.20m, 속도 = 30.5km/h